In [3]:
from dotenv import load_dotenv, dotenv_values
import os

In [ ]:
print(os.getcwd())

In [5]:
os.chdir(r'C:\Users\Admin\OneDrive\Documents\Data Portfolio Projects\Excel Projects\Lux Academy\football')

In [ ]:
f"Confirm Curent directory {os.getcwd()}"

In [7]:
files = os.listdir(r'C:\Users\Admin\OneDrive\Documents\Data Portfolio Projects\Excel Projects\Lux Academy\football')

In [9]:
load_dotenv()

True

In [ ]:
with open('.env', 'r') as f:
    content = f.read()
    print(content)

In [ ]:
load_dotenv()

In [16]:
import requests
# Define the API endpoint
url = "https://api.football-data.org/v4/competitions/PL/matches?season=2024"  # Replace with the actual API endpoint
# Set up the headers, including the API key
headers = { 'X-Auth-Token': 'f7213fabb0d84d3591bd701150716545' }

# Make the GET request
response = requests.get(url, headers=headers)
# Check if the request was successful
if response.status_code == 200:
    matches = response.json().get('matches', [])
    print(f"Total Matches: {len(matches)}")
    
    for index, match in enumerate(matches):
        if index >=5:
            break
        print(f"{match['status']} - {match['homeTeam']['name']} vs. {match['awayTeam']['name']} - Score:{match['score']['fullTime']}")
    # Parse the JSON response
    # data = response.json()
    # print(data)  # Print the data received from the API
else:
    print(f"Error: {response.status_code} - {response.text}")

Total Matches: 380
FINISHED - Manchester United FC vs. Fulham FC - Score:{'home': 1, 'away': 0}
FINISHED - Ipswich Town FC vs. Liverpool FC - Score:{'home': 0, 'away': 2}
FINISHED - Arsenal FC vs. Wolverhampton Wanderers FC - Score:{'home': 2, 'away': 0}
FINISHED - Everton FC vs. Brighton & Hove Albion FC - Score:{'home': 0, 'away': 3}
FINISHED - Newcastle United FC vs. Southampton FC - Score:{'home': 1, 'away': 0}

In [17]:
import pandas as pd

match_data = []

for match in matches:
    match_data.append({
        'status': match['status'],
        'Hometeam' : match['homeTeam']['name'],
        'Awayteam': match['awayTeam']['name'],
        'Homescore': match['score']['fullTime']['home'],
        'Awayscore': match['score']['fullTime']['away']
    })
    
df = pd.DataFrame(match_data)
df.head()

,status,Hometeam,Awayteam,Homescore,Awayscore
0,FINISHED,Manchester United FC,Fulham FC,1,0
1,FINISHED,Ipswich Town FC,Liverpool FC,0,2
2,FINISHED,Arsenal FC,Wolverhampton Wanderers FC,2,0
3,FINISHED,Everton FC,Brighton & Hove Albion FC,0,3
4,FINISHED,Newcastle United FC,Southampton FC,1,0

In [4]:
df["Hometeam"].unique()

array(['Manchester United FC', 'Ipswich Town FC', 'Arsenal FC',
       'Everton FC', 'Newcastle United FC', 'Nottingham Forest FC',
       'West Ham United FC', 'Brentford FC', 'Chelsea FC',
       'Leicester City FC', 'Brighton & Hove Albion FC',
       'Crystal Palace FC', 'Fulham FC', 'Manchester City FC',
       'Southampton FC', 'Tottenham Hotspur FC', 'Aston Villa FC',
       'AFC Bournemouth', 'Wolverhampton Wanderers FC', 'Liverpool FC'],
      dtype=object)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380 entries, 0 to 379
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   status     380 non-null    object
 1   Hometeam   380 non-null    object
 2   Awayteam   380 non-null    object
 3   Homescore  380 non-null    int64
 4   Awayscore  380 non-null    int64
dtypes: int64(2), object(3)
memory usage: 15.0+ KB

In [19]:
# store all teams in a variable 'teams'
teams = df['Hometeam'].unique()

In [30]:
# have the solution stored in an empty dictionary 
probability = []

#  For loop to calculate probability 
for team in teams:
    total_games = len(df [(df['Hometeam'] == team) | (df['Awayteam'] == team)])
    
    # find home wins for each team where homescore > awayscore
    home_win = df[(df['Hometeam'] == team) & (df['Homescore'] > df['Awayscore'])]
    
    # find away wins for each team where awayscore > homescore
    away_win = df[(df['Awayteam'] == team) & (df['Awayscore'] > df['Homescore'])]
    
    # total wins
    total_wins = len(home_win) + len(away_win)
    
    # ensure teams play atleast 1 game
    if total_games > 0:
        win_prob = round(total_wins/total_games, 3)
        
    # append data to dictionary
    probability.append({
        "Team" : team,
        "Win Probability": win_prob,
        "Total Games": total_games
    })

# create dataframe and sort
df_win = pd.DataFrame(probability)
df_win = df_win.sort_values(by = "Win Probability", ascending = False)

df_win

                          Team  Win Probability  Total Games
19                Liverpool FC            0.658           38
13          Manchester City FC            0.553           38
8                   Chelsea FC            0.526           38
2                   Arsenal FC            0.526           38
4          Newcastle United FC            0.526           38
16              Aston Villa FC            0.500           38
5         Nottingham Forest FC            0.500           38
10   Brighton & Hove Albion FC            0.421           38
7                 Brentford FC            0.421           38
12                   Fulham FC            0.395           38
17             AFC Bournemouth            0.395           38
11           Crystal Palace FC            0.342           38
18  Wolverhampton Wanderers FC            0.316           38
6           West Ham United FC            0.289           38
15        Tottenham Hotspur FC            0.289           38
3                   Everton FC            0.289           38
0         Manchester United FC            0.289           38
9            Leicester City FC            0.158           38
1              Ipswich Town FC            0.105           38
14              Southampton FC            0.053           38