## Exploring Set Operations Using a Venn Diagram

consider the following sets:

Ω = positive integers between [1, 12]
A = even numbers between [1, 10]
B= 3,8,11,12
C= 2,3,6,8,9,11

In [61]:
# intersection of A and B
ans1= {8}
ans1

{8}

In [62]:
# in set A,C, intersection or both

ans2 = {2,4,3,6,8,9,11}
ans2

{2, 3, 4, 6, 8, 9, 11}

In [63]:
# values in universal set

ans3= {1,3,11,12,9,10,7,5}
ans3

{1, 3, 5, 7, 9, 10, 11, 12}

In [64]:
# The absolute complement of B
ans4 = {1,5,7,10,4,2,6,9}
ans4

{1, 2, 4, 5, 6, 7, 9, 10}

In [65]:
# compliment of union of set A and B

ans5 = {1,9,10,7,5}
ans5

{1, 5, 7, 9, 10}

In [66]:
# elemtns in set B but not C

ans6 = {12}
ans6

{12}

In [67]:
# A \setminus B set in A but not in B
ans7 = {4,2,6}
ans7

{2, 4, 6}

In [68]:
# c\(b\a) elements in C,not in Bbut in A
ans8= {9,2,8,6}
ans8

{2, 6, 8, 9}

In [69]:
# elements in both C and A: (C∩A)∪ (C∖B)
ans9 = {8,2,6,9}
ans9

{2, 6, 8, 9}

In [70]:
U = {1,2,3,4,5,6,7,8,9,10,11,12}
A = {2,4,6,8,10}
B= {3,8,11,12}
C = {2,3,6,8,9,11}

In [71]:
A_intersection_b = A & B
A_intersection_b == ans1

True

In [72]:
A_cup_C= A | C
A_cup_C
A_cup_C == ans2

False

In [73]:
A_compliment = U - A
A_compliment
A_compliment == ans3

False

In [74]:
B_complement = U - B
B_complement
B_complement == ans4

True

In [75]:
A_union_B_comp = U - (A | B)

A_union_B_comp == ans5

False

In [76]:
B_intersect_Cnot = B - (B&C)
B_intersect_Cnot == ans6

True

In [77]:
A_setminus_B = A - B
A_setminus_B == ans7

False

In [78]:
C_setm_BA= C - (B-A)
C_setm_BA

C_setm_BA == ans8

True

In [79]:
CA_union_CB = (C&A) | (C - B)
CA_union_CB
CA_union_CB == ans9

True

## The Inclusion Exclusion Principle

In [88]:
# A∪B∪C

left_hand_eq = A | B | C

len(left_hand_eq)

9

In [90]:
# ∣A∣+∣B∣+∣C∣−∣A∩B∣−∣A∩C∣−∣B∩C∣+∣A∩B∩C∣
right_hand_eq = A | B | C - (A&B - A&C - B&C) | A&B&C

len(right_hand_eq)

9

In [91]:
# Using a comparison operator to compare `left_hand_eq` and `right_hand_eq`
right_hand_eq == left_hand_eq

True

## Set Operations in Python

In [114]:
Nina = set(["Cat","Dog","Rabbit","Donkey","Parrot", "Goldfish"])
Mary = set(["Dog","Chinchilla","Horse", "Chicken"])
Eve = set(["Rabbit", "Turtle", "Goldfish"])

In [115]:
# update Eve's list remove 'Turtle'

Eve.remove("Turtle")
Eve

{'Goldfish', 'Rabbit'}

In [116]:
# add to Nina all from Mary's list
Nina |= Mary
Nina

{'Cat',
 'Chicken',
 'Chinchilla',
 'Dog',
 'Donkey',
 'Goldfish',
 'Horse',
 'Parrot',
 'Rabbit'}

In [89]:
Mary

{'Chicken', 'Chinchilla', 'Dog', 'Horse'}

In [92]:
# remove all elements from Mary's List
Mary.clear()
Mary

set()

In [117]:
# Number of specias Nina is handling
n_species_nina = len(Nina)
print(f"Nina is handling {n_species_nina} species")

Nina is handling 9 species

In [118]:
# Nina gives Eve species in common
Nina.difference_update(Eve)

len(Nina)
# Eve

7

In [119]:
Eve

{'Goldfish', 'Rabbit'}

In [8]:
import pandas as pd
import os

In [ ]:
print(os.getcwd())

In [18]:
df1 = pd.read_excel(r"C:..\Excel Projects\Lux Academy\Europe_and_EU.xlsx")
df1.head()

,Rank,Country,Population,% of population,Average relative annual growth (%),Average absolute annual growth,Estimated doubling time (Years),Official figure (where available),Date of last figure,Regional grouping,Source
0,1.0,Russia,143964709,17.15,0.19,294285,368,146839993,2017-01-01 00:00:00,EAEU,[1]
1,2.0,Germany,82521653,9.80,1.20,600000,90,82800000,2016-12-31 00:00:00,EU,Official estimate
2,3.0,Turkey,80810000,9.60,1.34,1035000,52,77695904,2016-12-31 00:00:00,NaN,[2]
3,4.0,France,65233271,7.76,0.39,261022,177,66991000,2017-03-01 00:00:00,EU,[3]
4,5.0,United Kingdom,65110276,7.75,0.75,484000,92,66573504,2016-12-30 00:00:00,EU,Official estimate

In [19]:
europe = pd.read_excel(r"...\Excel Projects\Lux Academy\Europe_and_EU.xlsx", sheet_name = 'Europe') 
eu = pd.read_excel(r"...\Excel Projects\Lux Academy\Europe_and_EU.xlsx", sheet_name = 'EU')

In [27]:
europe.head()

,Rank,Country,Population,% of population,Average relative annual growth (%),Average absolute annual growth,Estimated doubling time (Years),Official figure (where available),Date of last figure,Regional grouping,Source
0,1.0,Russia,143964709,17.15,0.19,294285,368,146839993,2017-01-01 00:00:00,EAEU,[1]
1,2.0,Germany,82521653,9.80,1.20,600000,90,82800000,2016-12-31 00:00:00,EU,Official estimate
2,3.0,Turkey,80810000,9.60,1.34,1035000,52,77695904,2016-12-31 00:00:00,NaN,[2]
3,4.0,France,65233271,7.76,0.39,261022,177,66991000,2017-03-01 00:00:00,EU,[3]
4,5.0,United Kingdom,65110276,7.75,0.75,484000,92,66573504,2016-12-30 00:00:00,EU,Official estimate

In [28]:
eu.head()

,Rank,Country,2017 population,% of pop.,Average relative annual growth,Average absolute annual growth,Official figure,Date of last figure,Source
0,1,Germany,82800000,16.18,0.76,628876,82576900,2017-03-31,Official estimate
1,2,France,67210459,13.10,0.40,265557,67174000,2018-01-01,Monthly official estimate
2,3,United Kingdom,65808573,12.86,0.65,428793,65648100,2017-06-30,Official estimate
3,4,Italy,60589445,11.84,-0.13,-76001,60494000,2018-01-01,Monthly official estimate
4,5,Spain,46528966,9.09,0.19,89037,46549045,2017-07-01,Official estimate

In [34]:
# remove whitespaces in ['Country'] column
europe['Country'] = europe['Country'].str.strip()
eu['Country'] = eu['Country'].str.strip()

In [30]:
# convert to sets
europe_countries = set(europe['Country'])
eu_countries = set(eu['Country'])

In [32]:
# Check to confirm that the EU countries are a subset of countries in Europe
eu_countries <= europe_countries

True

In [33]:
# Find the set of countries that are in Europe but not the EU
europe_countries - eu_countries

{'Albania',
 'Andorra',
 'Armenia',
 'Azerbaijan',
 'Belarus',
 'Bosnia and Herzegovina',
 'Faroe Islands (Denmark)',
 'Georgia',
 'Gibraltar (UK)',
 'Guernsey (UK)',
 'Iceland',
 'Isle of Man (UK)',
 'Jersey (UK)',
 'Kosovo',
 'Liechtenstein',
 'Macedonia',
 'Moldova',
 'Monaco',
 'Montenegro',
 'Norway',
 'Russia',
 'San Marino',
 'Serbia',
 'Svalbard (Norway)',
 'Switzerland',
 'Turkey',
 'Ukraine',
 'Vatican City',
 'Åland Islands (Finland)'}